body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

svg{
  display: block;
  margin: 0 auto;
  fill: brown;
}

.parentdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background: linear-gradient(to bottom right, rgb(151, 198, 242), rgb(133, 212, 255));
  border-style: none;
  border-radius: 25px;
  box-shadow: 5px 5px 20px grey;
}

.card-par{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 200px;
  border-style: none;
  font-family: "Special Elite";
  font-size: 100px;
  color: brown;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgb(128, 128, 128);
  background: linear-gradient(to bottom left, rgb(255, 249, 228), rgb(255, 224, 138))
}

.userPar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-style: none;
  font-family: "Special Elite";
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgb(128, 128, 128);
  background: linear-gradient(to top right, rgb(255, 191, 182), rgb(255, 140, 128))
}

.input-par{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
}

.output-par{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  border-color: brown;
  border-width: 3px;
  padding: 3px;
}

.input-less, .input-greater{
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  border-color: brown;
  color: brown;
  font-weight: bold;
  border-width: 3px;
  opacity: 0.5;
  padding: 10px;
  border-style: none;
}

.scoreStack, .statusStack{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  border-color: brown;
  color: brown;
  font-weight: bold;
  border-width: 3px;
  opacity: 0.5;
  padding: 10px;
  border-style: none;
}

.output-par:hover, .input-less:hover, .input-greater:hover{
  border-style: solid;
  padding: 0px;
  opacity: 1;
}

.input-less{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-greater{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inLabel1, .inLabel2{
  display: flex;
  align-items: center;
  justify-items: center;
}
